body, html{
    background-image: url("../../public/img/unit5-1b-bg.jpg");
    background-color: #8b4513;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}

.top-bar{
    padding: 10px;
}

.top-bar__icon{
	font-size: 30px;
	color: black;
    display: flex;
    height: 80px;
}

.top-bar__icon__home{
    height: 80px;
    padding-right: 20px;
}
.top-bar__icon__sound{
    height: 80px;
}

.top-bar__1a{
    padding: 10px 20px;
    border: 4px solid #fff;
    background-color: blue;
    color: white;
	font-size: 30px;
    text-align: center;
	border-radius: 100%;
    width: 80px;
}
.top-bar__name{
    padding-left: 20px;
}

.top-bar__name__sub{
    font-size: 20px;
	color: black;
    margin-left: 20px;
}
.exercise{
    /* text-align: center; */
    padding-top: 100px;
}

.lesson__a{
    text-decoration: none;
}

.lesson__unit1__img{
	height: 350px;
    width: auto;
}

/* .lesson__unit1__img:hover{
    transform: scale(1.1);
} */

.exercise3__ans__choose{
    color: black;
    font-size: 50px;

}
.top-bar__icon__markboard{
    background-image: url("../../public/img/markboard-68.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}
.top-bar__question__sub{
    padding: 30px 80px;
    color: white;
    font-weight: bold;
}


.footer{
    padding: 10px;
}

.footer__img{
    height: 80px;
}

#nextButton{
    border: none;
    background: none;
}
#backButton{
    border: none;
    background: none;
}

#buttonChoose1{
    border: 4px solid #f134a6;
    background-color: white;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

/* #buttonChoose1:disabled{
    opacity: 0.5;
}

#buttonChoose2:disabled{
    opacity: 0.5;
} */

.exercise3__ans__sound >img{
    height: 50px;
    margin: 10px 40px 0 0;
}
.hidden {
    display: none;
}

.answer{
    margin-top: 10px;
    border: 4px solid #f134a6;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

.top-bar__icon__img{
    height: 80px;
    padding-right: 20px;

}

/* .text-block{
    background-image: url("../img/bubblewrap.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
} */
