@import "../../node_modules/@digitallyhappy/backstrap/src/scss/_backstrap_colors";
$green :  #6DAB5E;
$primary:      $green !default; // <--- For eg. This will make all buttons and texts black instead of purple
$secondary:     $gray-300 !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $black !default;

$hover-color: rgba(255, 255, 255, 0.12);
$border-color: rgba(22, 161, 10, 0.12);
$muted-bg-color: rgba(0, 0, 0, 0.02);

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "default":    $secondary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "notice":     $info,
    "warning":    $warning,
    "danger":     $danger,
    "error":      $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

@font-face {
  font-family: LoveAndJoy3;
  src: url('../font/LoveAndJoy3.ttf');
}

@font-face {
  font-family: simkai;
  src: url('../font/simkai.ttf');
}

@import "../../node_modules/@digitallyhappy/backstrap/src/scss/_backstrap_miscellaneous";

@import "../../node_modules/@coreui/coreui/scss/coreui";
@import "../../node_modules/@digitallyhappy/backstrap/src/scss/_custom";
@import "../../node_modules/animate.css/source/_base";